doctype html
html(lang='en')
  head
    // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-8509990-1')
    script.
      window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'UA-8509990-1');
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Linus Graybill
    meta(name='description', content='Personal web page for Linus Graybill, a front end web development professional based in Philadelphia, PA. Experienced with Javascript, CSS, HTML, UX principles, and working closely with exceptionally talented application engineers.')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css')
    link(rel='stylesheet', href='css/main.css')
    style.
  body
    header
      img#philadelphia(src='img/philadelphia.svg', alt='Philadelphia skyline')
    section
      h3 Linus Graybill
      h4 Front End Web Applications
      h5 Development, User Experience, Soft Skills
    section
      a(href='https://github.com/graybill') Github
      a(href='https://www.linkedin.com/in/linusgr/') LinkedIn
    footer
